.question-radio-group {
    display: inline-flex;
    flex-direction: column;
  }
  
  .question-radio-button {
    margin: 5px;
  }
  
  .question-selected-value {
    margin: 15px 0;
  }
.app_correct {border-style: solid; border-color:green;}
.app_wrong {border-style: solid; border-color:red;}